<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeQuotient</title>
</head>
<body>
    <h2>Hello <%=locals.displayname%></h2>

    <h4>Use this link to reset your password.</h4>
    <h4>Valid for only <%=locals.validity%></h4>
    <a href="<%=locals.forgotPasswordBaseURL%>/?token=<%=locals.token%>">
        <%=locals.forgotPasswordBaseURL%>?token=<%=locals.token%>
    </a>

</body>
</html>